flows/Update_User_Permissions_Sets_or_Licenses-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Adds the Permission Set Assignment to be created to the Collection.</description>
        <name>Add_PSA_to_Create_Collection</name>
        <label>Add PSA to Create Collection</label>
        <locationX>1158</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>colVar_Create_PSA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVar_Create_PSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_PS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the Permission Set Assignment to be deleted to the Collection.</description>
        <name>Add_PSA_to_Delete_Collection</name>
        <label>Add PSA to Delete Collection</label>
        <locationX>812</locationX>
        <locationY>1429</locationY>
        <assignmentItems>
            <assignToReference>colVar_Delete_PSA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVar_Delete_PSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_PSA_Has_a_License</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the Permission Set Assignment Group to be created to the Collection.</description>
        <name>Add_PSAG_to_Create_Collection</name>
        <label>Add PSAG to Create Collection</label>
        <locationX>1247</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>colVar_Create_PSAG</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVar_Create_PSAG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_PS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the Permission Set Assignment (Group) to be created to the Collection.</description>
        <name>Add_PSAG_to_Delete_Collection</name>
        <label>Add PSAG to Delete Collection</label>
        <locationX>677</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>colVar_Delete_PSA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVar_Delete_PSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_PSG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the Permission Set License Assignment to be deleted to the Collection.</description>
        <name>Add_PSLA_to_Delete_Collection</name>
        <label>Add PSLA to Delete Collection</label>
        <locationX>50</locationX>
        <locationY>1506</locationY>
        <assignmentItems>
            <assignToReference>colVar_Delete_PSLA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recVar_Delete_PSLA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Which_Node</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Create Permission Set Values</description>
        <name>Assign_Create_PSA_Values</name>
        <label>Assign Create PSA Values</label>
        <locationX>1156</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>recVar_Create_PSA.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_Create_PSA.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PSA_to_Create_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Create Permission Set Assignment Group Values</description>
        <name>Assign_Create_PSAG_Values</name>
        <label>Assign Create PSAG Values</label>
        <locationX>909</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>recVar_Create_PSAG.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_Create_PSAG.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_Create_PSAG.PermissionSetGroupId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_PSAG_to_Create_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Delete Permission Set Assignment Values</description>
        <name>Assign_Delete_PSA_Values</name>
        <label>Assign Delete PSA Values</label>
        <locationX>717</locationX>
        <locationY>1307</locationY>
        <assignmentItems>
            <assignToReference>recVar_Delete_PSA.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Permission_Set_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PSA_to_Delete_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Delete Permission Set Assignment Group Values</description>
        <name>Assign_Delete_PSAG_Values</name>
        <label>Assign Delete PSAG Values</label>
        <locationX>804</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>recVar_Delete_PSA.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Permission_Set_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PSAG_to_Delete_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Delete Permission Set License Assignment Values</description>
        <name>Assign_Delete_PSLA_Values</name>
        <label>Assign Delete PSLA Values</label>
        <locationX>173</locationX>
        <locationY>1504</locationY>
        <assignmentItems>
            <assignToReference>recVar_Delete_PSLA.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_PSLA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PSLA_to_Delete_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Running_Node_Delete_PSA</name>
        <label>Assign Running Node: Delete PSA</label>
        <locationX>712</locationX>
        <locationY>1149</locationY>
        <assignmentItems>
            <assignToReference>var_RunningNode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>check_Delete_PSA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Delete_PSA_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Running_Node_Delete_PSAG</name>
        <label>Assign Running Node: Delete PSAG</label>
        <locationX>768</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>var_RunningNode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>check_Delete_PSAG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Delete_PSAG_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Permission Set Type</description>
        <name>Permission_Set_Type</name>
        <label>Permission Set Type</label>
        <locationX>1073</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>var_PS_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PS.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Permission_Set_Assignment</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Permission Set &quot;Type&quot; Field is not accessible directly in a Query. Therefore, the field is assigned to a variable, and then compared with the constant.</description>
        <name>con_PS_Type_Group</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Group</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_User_User_Function_Permission_Set</name>
        <label>Check User User Function Permission Set</label>
        <locationX>904</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>loop_PS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>check_Create_PSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PS_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>con_PS_Type_Group</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Permission_Set_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fml_PS_in_UserFunction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Create_PSA_Values</targetReference>
            </connector>
            <label>Create PSA</label>
        </rules>
        <rules>
            <name>check_Create_PSAG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PS_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>con_PS_Type_Group</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Permission_Set_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fml_PS_in_UserFunction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Create_PSAG_Values</targetReference>
            </connector>
            <label>Create PSAG</label>
        </rules>
        <rules>
            <name>check_Delete_PSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PS_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>con_PS_Type_Group</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Permission_Set_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fml_PS_in_UserFunction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Running_Node_Delete_PSA</targetReference>
            </connector>
            <label>Delete PSA</label>
        </rules>
        <rules>
            <name>check_Delete_PSAG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PS_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>con_PS_Type_Group</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Permission_Set_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fml_PS_in_UserFunction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Running_Node_Delete_PSAG</targetReference>
            </connector>
            <label>Delete PSAG</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see which Decision Node was used to get to this point.</description>
        <name>check_Which_Node</name>
        <label>Which Node?</label>
        <locationX>55</locationX>
        <locationY>582</locationY>
        <defaultConnector>
            <targetReference>loop_PS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Which_Node_Delete_PSAG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_RunningNode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>check_Delete_PSAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_PSGC</targetReference>
            </connector>
            <label>Delete PSAG</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if Permission Set Assignment Records need to be created.</description>
        <name>Create_PSA</name>
        <label>Create PSA</label>
        <locationX>1776</locationX>
        <locationY>598</locationY>
        <defaultConnector>
            <targetReference>Create_PSAG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_Create_PSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colVar_Create_PSA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Permission_Set_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if Permission Set Assignment Group Records need to be created.</description>
        <name>Create_PSAG</name>
        <label>Create PSAG</label>
        <locationX>1776</locationX>
        <locationY>934</locationY>
        <defaultConnector>
            <targetReference>Delete_PSA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_Create_PSAG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colVar_Create_PSAG</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Permission_Set_Assignment_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if Permission Set Assignment Records need to be deleted.</description>
        <name>Delete_PSA</name>
        <label>Delete PSA</label>
        <locationX>1776</locationX>
        <locationY>1270</locationY>
        <defaultConnector>
            <targetReference>Delete_PSLA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_Delete_PSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colVar_Delete_PSA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_Permission_Set_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_PSA_Has_a_License</name>
        <label>Delete PSA Has a License?</label>
        <locationX>1393</locationX>
        <locationY>1522</locationY>
        <defaultConnector>
            <targetReference>loop_PS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_PSA_Has_a_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_PS.LicenseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_PSLA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if Permission Set Assignment Group Records need to be deleted.</description>
        <name>Delete_PSLA</name>
        <label>Delete PSLA</label>
        <locationX>1776</locationX>
        <locationY>1606</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_Delete_PSLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colVar_Delete_PSLA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_PSLA_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Permission_Set_with_License</name>
        <label>Found Permission Set with License?</label>
        <locationX>175</locationX>
        <locationY>1160</locationY>
        <defaultConnector>
            <targetReference>check_Which_Node</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_Found_Permission_Set_with_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PSLA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Delete_PSLA_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permission_Set_with_License</name>
        <label>Permission Set with License?</label>
        <locationX>474</locationX>
        <locationY>1240</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_Permission_Set_with_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PS_with_License</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_PSLA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update User Permissions Sets or Licenses based on the &quot;User Permission Sets&quot; field being updated.</description>
    <formulas>
        <description>Formula field used to check if the Permission Set is in the User Function Field, by matching the API Names.</description>
        <name>fml_PS_in_UserFunction</name>
        <dataType>Boolean</dataType>
        <expression>IF(
     CONTAINS({!var_UserFunction}, {!loop_PS.Name}) = TRUE,
     TRUE,
     FALSE
)</expression>
    </formulas>
    <formulas>
        <description>Determines where the LicenseId should be used from.</description>
        <name>fml_RunningNode_PS_Id</name>
        <dataType>String</dataType>
        <expression>CASE( {!var_RunningNode} ,
&quot;check_Delete_PSA&quot; , {!loop_PS.LicenseId} ,
&quot;check_Delete_PSAG&quot; , {!get_PS_with_License.LicenseId} ,
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <description>Sets the User Id to 18 characters.</description>
        <name>fml_UserId_to_18</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$Record.Id})</expression>
    </formulas>
    <interviewLabel>Update User Permissions Sets or Licenses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Permissions Sets or Licenses</label>
    <loops>
        <name>loop_PS</name>
        <label>PS</label>
        <locationX>1242</locationX>
        <locationY>585</locationY>
        <collectionReference>get_Permission_Set</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Permission_Set_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PSA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_PSGC</name>
        <label>PSGC</label>
        <locationX>384</locationX>
        <locationY>645</locationY>
        <collectionReference>get_PSGC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_PS_with_License</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_PS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the Permission Set Assignment records.</description>
        <name>create_Permission_Set_Assignment</name>
        <label>Permission Set Assignment</label>
        <locationX>1644</locationX>
        <locationY>718</locationY>
        <connector>
            <targetReference>Create_PSAG</targetReference>
        </connector>
        <inputReference>colVar_Create_PSA</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create the Permission Set Assignment Group records.</description>
        <name>create_Permission_Set_Assignment_Group</name>
        <label>Permission Set Assignment Group</label>
        <locationX>1644</locationX>
        <locationY>1054</locationY>
        <connector>
            <targetReference>Delete_PSA</targetReference>
        </connector>
        <inputReference>colVar_Create_PSAG</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Delete the Permission Set Assignment records.</description>
        <name>delete_Permission_Set_Assignment</name>
        <label>Permission Set Assignment</label>
        <locationX>1644</locationX>
        <locationY>1390</locationY>
        <connector>
            <targetReference>Delete_PSLA</targetReference>
        </connector>
        <inputReference>colVar_Delete_PSA</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>delete_PSLA_records</name>
        <label>Permission Set License Assignment</label>
        <locationX>1612</locationX>
        <locationY>1717</locationY>
        <inputReference>colVar_Delete_PSLA</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Gets the Permission Set records.</description>
        <name>get_Permission_Set</name>
        <label>Permission Set</label>
        <locationX>1242</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_PS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Profile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <sortField>Type</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Permission Set Assignment record.</description>
        <name>get_Permission_Set_Assignment</name>
        <label>Permission Set Assignment</label>
        <locationX>912</locationX>
        <locationY>667</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_User_Function_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_UserId_to_18</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_PS.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Permission Set with License record.</description>
        <name>get_PS_with_License</name>
        <label>Permission Set with License</label>
        <locationX>364</locationX>
        <locationY>986</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_with_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LicenseId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_PSGC.PermissionSetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <sortField>Type</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Permission Set Group record.</description>
        <name>get_PSG</name>
        <label>Permission Set Group</label>
        <locationX>554</locationX>
        <locationY>709</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PSGC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_PS.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Permission Set Group Component records.</description>
        <name>get_PSGC</name>
        <label>Permission Set Group Component</label>
        <locationX>486</locationX>
        <locationY>903</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_PSGC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PSG.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetGroupComponent</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Permission Set License Assignment record.</description>
        <name>get_PSLA</name>
        <label>Permission Set License Assignment</label>
        <locationX>391</locationX>
        <locationY>1518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Permission_Set_with_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_RunningNode_PS_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetLicenseAssign</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1116</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Permission_Set</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Collection of the Permission Set Assignments which need to be created.</description>
        <name>colVar_Create_PSA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <description>Collection of the Permission Set Assignment Groups which need to be created.</description>
        <name>colVar_Create_PSAG</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <description>Collection of the Permission Set Assignments which need to be deleted.</description>
        <name>colVar_Delete_PSA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>colVar_Delete_PSLA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetLicenseAssign</objectType>
    </variables>
    <variables>
        <name>recVar_Create_PSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>recVar_Create_PSAG</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>recVar_Delete_PSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>recVar_Delete_PSLA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetLicenseAssign</objectType>
    </variables>
    <variables>
        <description>Variable which captures the Permission Set Type.</description>
        <name>var_PS_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the decision path (delete_PSA or delete_PSAG)</description>
        <name>var_RunningNode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the User Function field.</description>
        <name>var_UserFunction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.User_Function__c</elementReference>
        </value>
    </variables>
</Flow>
